$asset_path: if($variant == 'dark', dark-assets, light-assets);

//
// Globals
//
$font-size: 9;
$font-family: Futura Bk bt, sans, Sans-Serif;
$_bubble_bg_color: opacify($osd_bg_color,0.25);
$_bubble_fg_color: $osd_fg_color;
$_bubble_borders_color: transparentize($osd_fg_color,0.8);
$_shell_fg_color: white;

stage {
  font-family: $font-family;
  @include fontsize($font-size);
  color: $fg_color;
}

.label-shadow {
  color: rgba(0, 0, 0, 0);
}

%reset_style {
  background-color: transparent !important;
  background-gradient-direction: none !important;
  border: none !important;
  border-radius: 0 !important;
}

//
// Buttons
//
%button {
  min-height: 20px;
  padding: 5px 32px;
  transition-duration: 0;

  &, &:focus, &:hover, &:hover:focus, &:active, &:active:focus, &:insensitive {
    border-radius: 2px;
  }

  @include button(normal);

  @at-root %button_hover,
  &:hover { @include button(hover); }

  &:focus { @include button(focus); }
  &:hover:focus { @include button(focus-hover); }
  &:active, &:active:focus { @include button(active); }
  &:insensitive { @include button(insensitive); }
}

%osd_button {
  min-height: 20px;
  padding: 5px 32px;
  transition-duration: 0;
  border-radius: 2px;

  @include button(osd);

  &:hover { @include button(osd-hover); }
  &:focus { color: $selected_bg_color; }
  &:active { @include button(osd-active); }
  &:insensitive { @include button(osd-insensitive); }
}

//
// Entries
//
%entry {
  padding: 7px;
  caret-size: 1px;
  selection-background-color: $selected_bg_color;
  selected-color: $selected_fg_color;
  transition-duration: 300ms;
  border-radius: 3px;

  @include entry(normal);

  &:focus, &:hover { @include entry(focus); }
  &:insensitive { @include entry(insensitive); }

  StIcon.capslock-warning {
    icon-size: 16px;
    warning-color: $warning_color;
    padding: 0 4px;
  }
}

%osd_entry {
  padding: 7px;
  caret-size: 1px;
  caret-color: $osd_fg_color;
  selection-background-color: $selected_bg_color;
  selected-color: $selected_fg_color;
  transition-duration: 300ms;
  border-radius: 3px;

  @include entry(osd);

  &:focus { @include entry(osd-focus); }
  &:insensitive { @include entry(osd-insensitive); }
}

//
// Scrollbars
//
StScrollView {
  &.vfade { -st-vfade-offset: 0px; }
  &.hfade { -st-hfade-offset: 0px; }
}

StScrollBar {

  padding: 8px;

  StScrollView & {
    min-width: 5px;
    min-height: 5px;
  }

  StBin#trough {
    background-color: transparentize($base_color, 0.9);
    border-radius: 8px;
  }

  StButton#vhandle, StButton#hhandle {
    border-radius: 2px;
    background-color: mix($fg_color, $bg_color, 40%);
    border: 0px solid;
    margin: 0px;

    &:hover { background-color: mix($fg_color, $bg_color, 30%); }

    &:active { background-color: $selected_bg_color; }
  }
}

.separator {
  -gradient-height: 1px;
  -gradient-start: rgba(0,0,0,0);
  -gradient-end: rgba(0,0,0,0);
  -margin-horizontal: 1.5em;
  height: 1em;
}

//
// Slider
//
.popup-slider-menu-item,
.slider {
  -slider-height: 4px;
  -slider-background-color: $button_border;                   //background of the trough
  -slider-border-color: transparentize(black, 1);             //trough border color
  -slider-active-background-color: $selected_bg_color;        //active trough fill
  -slider-active-border-color: transparentize(black, 1);      //active trough border
  -slider-border-width: 0;
  -slider-handle-radius: 4px;
  height: 18px;
  min-width: 15em;
  border: 0 solid transparent;
  border-right-width: 1px;
  border-left-width: 5px;
  color: transparent;

  .popup-menu-item:active & {
    -slider-background-color: transparentize(black, 0.8);
    -slider-active-background-color: $selected_fg_color;
  }
}

//
// Check Boxes
//
.check-box {

  CinnamonGenericContainer {
    spacing: .2em;
    min-height: 30px;
    padding-top: 2px;
  }

  StLabel { font-weight: normal; }

  StBin {
    width: 16px;
    height: 16px;
    background-image: url("#{$asset_path}/checkbox/checkbox-unchecked.svg");
  }

  &:focus StBin { background-image: url("#{$asset_path}/checkbox/checkbox-unchecked-focused.svg"); }

  &:checked StBin { background-image: url("#{$asset_path}/checkbox/checkbox-checked.svg"); }

  &:focus:checked StBin { background-image: url("#{$asset_path}/checkbox/checkbox-checked-focused.svg"); }
}

//
// Radio Buttons
//
.radiobutton {

  CinnamonGenericContainer {
    spacing: .2em;
    height: 26px;
    padding-top: 2px;
  }

  StLabel {
    padding-top: 4px;
    font-size: 0.9em;
    box-shadow: none;
  }

  StBin {
    width: 16px;
    height: 16px;
    background-image: url("#{$asset_path}/checkbox/checkbox-unchecked.svg");
  }

  &:focus StBin { background-image: url("#{$asset_path}/checkbox/checkbox-unchecked-focused.svg"); }

  &:checked StBin { background-image: url("#{$asset_path}/checkbox/checkbox-checked.svg"); }

  &:focus:checked StBin { background-image: url("#{$asset_path}/checkbox/checkbox-checked-focused.svg"); }
}

//
// Switches
//
.toggle-switch {
  width: 50px;
  height: 20px;
  background-size: contain;
  background-image: url("#{$asset_path}/switch/switch-off.svg");

  &:checked { background-image: url("#{$asset_path}/switch/switch-on.svg"); }

  .popup-menu-item:active & {
    background-image: url("common-assets/switch/switch-off-selected.svg");

    &:checked { background-image: url("common-assets/switch/switch-on-selected.svg"); }
  }
}

//
// Links
//
.cinnamon-link {
  color: $link_color;
  text-decoration: underline;

  &:hover { color: lighten($link_color,10%); }
}

//
// Tooltip
//
#Tooltip {
  border-radius: 3px;
  padding: 5px 12px;
  background-color: $osd_bg_color;
  color: $osd_fg_color;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
}

//
// Popvers/Menus
//
.menu,
%menu {
  color: $fg_color;
  border-image: url("#{$asset_path}/menu/menu.svg") 9 9 9 9;
}

.popup-menu-arrow { icon-size: 16px; }

.popup-sub-menu {
  background-gradient-direction: none;
  box-shadow: none;
  border-image: url("#{$asset_path}/menu/submenu.svg") 9 9 9 9;

  .popup-menu-item:ltr { padding-right: 0em; }
  .popup-menu-item:rtl { padding-left: 0em; }

  StScrollBar {
    padding: 4px;
    StBin#trough, StBin#vhandle { border-width: 0; }
  }
}

.popup-menu-content { padding: 1em 1px; }
.popup-menu-item {
  padding: .4em 1.75em;
  spacing: 1em;

  &:active {
    color: $selected_fg_color;
    background-color: transparent;
    border-image: url("common-assets/menu/menu-hover.svg") 9 9 1 1;
  }
  &:insensitive {
    color: transparentize($fg_color, 0.5);
    background: none;
  }
}

.popup-inactive-menu-item { //all icons and other graphical elements
  color: $fg_color;

  &:insensitive { color: $insensitive_fg_color; }
}

.popup-menu-item:active .popup-inactive-menu-item { color: $selected_fg_color; }

.popup-menu-icon { icon-size: 16px; }

.popup-combo-menu {
  @extend %menu;
  padding: 10px 1px;
}
.popup-image-menu-item {}

.popup-combobox-item { spacing: 1em; }

.popup-separator-menu-item {
  -gradient-height: 2px;
  -gradient-start: transparent;
  -gradient-end: transparent;
  -margin-horizontal: 1.5em;
  height: 1em;
}

.popup-alternating-menu-item:alternate {
  font-weight: normal;
}

.popup-device-menu-item { spacing: .5em; }

.popup-subtitle-menu-item { font-weight: normal; }

.nm-menu-item-icons { spacing: .5em; }

//
// Panel
//
#panel {
  font-weight: bold;
  height: 27px;
  width: 32px;

  &:highlight {
    border-image: none;
    background-color: transparentize($error_color, 0.5);
  }
}

.panel {
  $_panel_fg_color: $_shell_fg_color;

  &Left {
    spacing: 4px;

    &:dnd {
      background-gradient-direction: vertical;
      background-gradient-start: rgba(255,0,0,0.05);
      background-gradient-end: rgba(255,0,0,0.2);
    }
    &:ltr { padding-right: 4px; }
    &:rtl { padding-left: 4px; }

    &.vertical {
      padding: 0;

      &:ltr { padding-right: 0px; }
      &:rtl { padding-left: 0px; }
    }
  }

  &Right {

    &:dnd {
      background-gradient-direction: vertical;
      background-gradient-start: rgba(0,0,255,0.05);
      background-gradient-end: rgba(0,0,255,0.2);
    }
    &:ltr { padding-left: 4px; spacing: 0px; }
    &:rtl { padding-right: 4px; spacing: 0px; }

    &.vertical {
      padding: 0;

      &:ltr { padding-right: 0px; }
      &:rtl { padding-left: 0px; }
    }
  }

  &Center {
    spacing: 4px;

    &:dnd {
      background-gradient-direction: vertical;
      background-gradient-start: rgba(0,255,0,0.05);
      background-gradient-end: rgba(0,255,0,0.2);
    }
  }

  &-top, &-bottom, &-left, &-right {
    color: $_panel_fg_color;
    font-size: 1em;
    padding: 0px;
  }

  &-top { border-image: url('common-assets/panel/panel-top.svg') 1 1 1 1; }
  &-bottom { border-image: url('common-assets/panel/panel-bottom.svg') 1 1 1 1; }
  &-left { border-image: url('common-assets/panel/panel-left.svg') 1 1 1 1; }
  &-right { border-image: url('common-assets/panel/panel-right.svg') 1 1 1 1; }

  &-dummy {
    background-color: transparentize($error_color, 0.5);

    &:entered { background-color: transparentize($error_color, 0.4); }
  }

  &-status-button {
    border-width: 0;
    -natural-hpadding: 3px;
    -minimum-hpadding: 3px;
    font-weight: bold;
    color: white;

    &:hover {}
  }

  &-button {
    -natural-hpadding: 6px;
    -minimum-hpadding: 2px;
    font-weight: bold;
    color: green;
    transition-duration: 100;

    &:hover {}
  }
}

.system-status-icon {
  icon-size: 16px;
  padding: 0 1px;
}

//
// Overview 
//
#overview { spacing: 12px; }

.window-caption {
  background-color: $osd_bg_color;
  border: 1px solid $osd_bg_color;
  color: $osd_fg_color;
  padding: .5em .7em;
  spacing: .5em;
  border-radius: 2px;
  font-size: 9pt;
  -cinnamon-caption-spacing: 8px;
  max-width: 20em;

  &:focus {
    background-color: $selected_bg_color;
    color: $selected_fg_color;
    border: 1px solid $selected_bg_color;
  }
}

.window-border {
    border: 3px $selected_bg_color;
    border-radius: 4px;
    /* Cover rounded corners and some bad adjustment gaps */
    box-shadow: 0 0 0 1px $selected_bg_color inset;
}

.overview-empty-placeholder {
  text-align: center;
  font-weight: bold;
  spacing: 1em;
  padding: 16px;
  color: $_shell_fg_color;
  border-image: url("common-assets/misc/osd.svg") 9 9 9 9;
}

.expo-workspaces-name-entry {
  height: 1.4em;
  border-radius: 2px;
  font-size: 9pt;
  padding: 5px 8px;
  -cinnamon-caption-spacing: 4px;
  transition-duration: 300;
  @include entry(osd);

  &:focus, &#selected {
    border: 1px solid $selected_bg_color;
    background-color: $selected_bg_color;
    color: $selected_fg_color;
    font-style: italic;
    selection-background-color: $selected_fg_color;
    selected-color: $selected_bg_color;
  }

  &:hover {
    border: 1px solid $selected_bg_color;
  }
}

.expo-workspace-thumbnail-frame {
  border: 4px solid rgba(255,255,255,0.0);
  background-color: rgba(255,255,255,0.0);
  border-radius: 2px;

  &#active {
    border: 4px solid $selected_bg_color;
    background-color: black;
    border-radius: 2px;
  }
}

.expo-background {
  background-color: opacify($osd_bg_color, 1);
}

.workspace {
  //&-controls { visible-height: 32px; }

  &-thumbnails {
    spacing: 26px;

    &-background, &-background:rtl { padding: 8px; }
  }

  &-add-button {
    background-image: url("common-assets/misc/add-workspace.svg");
    height: 200px;
    width: 35px;
    transition-duration: 100;

    &:hover {
      background-image: url("common-assets/misc/add-workspace-hover.svg");
      transition-duration: 100;
    }
    &:active {
      background-image: url("common-assets/misc/add-workspace-active.svg");
      transition-duration: 100;
    }
  }
  &-overview-background-shade { background-color: rgba(0,0,0,0.5); }
}

.workspace-close-button,
.window-close {
  background-image: url("common-assets/misc/close.svg");
  background-size: 26px;
  height: 26px;
  width: 26px;
  -cinnamon-close-overlap: 10px;

  &:hover {
    background-image: url("common-assets/misc/close-hover.svg");
    background-size: 26px;
    height: 26px;
    width: 26px;
  }
  &:active {
    background-image: url("common-assets/misc/close-active.svg");
    background-size: 26px;
    height: 26px;
    width: 26px;
  }
}

//.workspace-thumbnail-indicator {
//  outline: 2px solid red;
//  border: 1px solid green;
//}
//
//.window-close:rtl {
//  -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5);
//}

.window-close-area {
  background-image: url("common-assets/misc/trash-icon.svg");
  height: 120px;
  width: 400px;
}

//
// About Dialog (applet.js and desklet.js)
//
.about {
  &-content {
    width: 550px;
    height: 250px;
    spacing: 8px;
    padding-bottom: 10px;
  }
  &-title {
    font-size: 2em;
    font-weight: bold;
  }
  &-uuid {
    font-size: 10px;
    color: #888;
  }
  &-icon {
    padding-right: 20px;
    padding-bottom: 14px;
  }
  &-scrollBox {
    border: 1px solid $borders_color;
    border-radius: 2px;
    background-color: $base_color;
    padding: 4px;
    padding-right: 0;
    border-radius: 0;

    &-innerBox {
      padding: 1.2em;
      spacing: 1.2em;
    }
  }
  &-description {
    padding-top: 4px;
    padding-bottom: 16px;
  }
  &-version {
    padding-left: 7px;
    font-size: 10px;
    color: #888;
  }
}


//
// Calendar 
//
.calendar {
  padding: .4em 1.75em;
  spacing-rows: 0px;
  spacing-columns: 0px;
}

.calendar-month-label {
  color: $fg_color;
  font-weight: bold;
  padding: 8px 0;
}

.calendar-change-month-back,
.calendar-change-month-forward {
  width: 16px;
  height: 16px;
}

//arrow back
.calendar-change-month-back {
  background-image: url("common-assets/misc/calendar-arrow-left.svg");

  &:focus, &:hover { background-image: url("common-assets/misc/calendar-arrow-left-hover.svg"); }

  &:active { background-image: url("common-assets/misc/calendar-arrow-left.svg"); }

  &:rtl {
    background-image: url("common-assets/misc/calendar-arrow-right.svg");

    &:focus, &:hover { background-image: url("common-assets/misc/calendar-arrow-right-hover.svg"); }

    &:active { background-image: url("common-assets/misc/calendar-arrow-right.svg"); }
  }
}

//arrow forward
.calendar-change-month-forward {
  background-image: url("common-assets/misc/calendar-arrow-right.svg");

  &:focus, &:hover { background-image: url("common-assets/misc/calendar-arrow-right-hover.svg"); }

  &:active { background-image: url("common-assets/misc/calendar-arrow-right.svg"); }

  &:rtl {
    background-image: url("common-assets/misc/calendar-arrow-left.svg");

    &:focus, &:hover { background-image: url("common-assets/misc/calendar-arrow-left-hover.svg"); }

    &:active { background-image: url("common-assets/misc/calendar-arrow-left.svg"); }
  }
}

.datemenu-date-label {
  padding: .4em 1.75em;
  font-weight: bold;
  text-align: center;
  color: $fg_color;
  border-radius: 2px;
}

.calendar-day-base {
  font-size: 8pt;
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  padding: 0.1em;
  margin: 0.1em;
  border-radius: 999px;
}

.calendar-day-heading {
  color: transparentize($fg_color, 0.15);
  margin-top: 1em;
  font-size: 6pt;
  width: 2.5em;
  height: 2em;
}

.calendar-day {
  border-width: 0;
  color: transparentize($fg_color, 0.2);
}

.calendar-day-top {
  border-top-width: 0;
}

.calendar-day-left {
  border-left-width: 0;
}

.calendar-nonwork-day {
  color: $fg_color;
  background-color: transparent;
  font-weight: bold;
  border-width: 0;
}

.calendar-today,
.calendar-today:active,
.calendar-today:focus,
.calendar-today:hover {
  font-weight: bold;
  color: $selected_fg_color;
  background-color: $selected_bg_color;
  border-width: 0;
}

.calendar-other-month-day {
  color: transparentize($fg_color, 0.7);
  opacity: 1;
}

.calendar-week-number {
  color: transparentize($fg_color, 0.3);
  font-size: 6pt;
  width: 2.5em;
  height: 2em;
  padding: 1.2em 0 0;
  text-align: center;
}

//
// Notifications
//
#notification {
  border-radius: 3px;
  border-image: url("common-assets/misc/bg.svg") 9 9 9 9;
  padding: 13px;
  spacing-rows: 10px;
  spacing-columns: 10px;
  margin-from-right-edge-of-screen: 20px;
  width: 34em;
  color: $osd_fg_color;

  .menu &,
  .popup-menu & {
    &, &.multi-line-notification { color: $fg_color; }
    border-image: url("#{$asset_path}/misc/message.svg") 9 9 9 9;

    .notification-button, .notification-icon-button {
      @extend %button;
      padding: 5px;
    }

    StEntry { @extend %entry; }
  }

  &.multi-line-notification {
    padding-bottom: 13px;
    color: $osd_fg_color;
  }

  &-scrollview {
    max-height: 10em;

    > .top-shadow, > .bottom-shadow { height: 1em; }

    &:ltr > StScrollBar { padding-left: 6px; }
    &:rtl > StScrollBar { padding-right: 6px; }
  }

  &-body { spacing: 5px; }
  &-actions { spacing: 10px; }
}

.notification {

  &-with-image {
    min-height: 159px;
    color: $osd_fg_color;
  }

  &-button, &-icon-button {
    @extend %osd_button;
    padding: 5px;
  }

  &-icon-button > StIcon { icon-size: 36px; }

  StEntry { @extend %osd_entry; }
}

//
// Alt Tab
///
#altTabPopup {
  padding: 8px;
  spacing: 16px;
}

.switcher-list {
  color: $osd_fg_color;
  background: none;
  border: none;
  border-image: url("common-assets/misc/bg.svg") 9 9 9 9;
  border-radius: 3px;
  padding: 20px;

  > StBoxLayout {
    padding: 4px;
  }

  &-item-container { spacing: 8px; }

  .item-box {
    padding: 8px;
    border-radius: 2px;

    &:outlined {
      padding: 8px;
      border: 1px solid $selected_bg_color;
    }

    &:selected {
      color: $selected_fg_color;
      background-color: $selected_bg_color;
      border: 0px solid $selected_bg_color;
    }
  }

  .thumbnail { width: 256px; }

  .thumbnail-box {
    padding: 2px;
    spacing: 4px;
  }
  .separator {
    width: 1px;
    background: rgba(255,255,255,0.2);
  }
}

.switcher-arrow {
  border-color: rgba(0,0,0,0);
  color: $osd_fg_color;

  &:highlighted {
    border-color: rgba(0,0,0,0);
    color: $_shell_fg_color;
  }
}

//.switcher-preview-backdrop { background-color: rgba(25,25,25,0.95); }

.thumbnail-scroll-gradient-left {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 24px;
  border-radius-topright: 0px;
  border-radius-bottomright: 0px;
  width: 60px;
}

.thumbnail-scroll-gradient-right {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 24px;
  border-radius-topleft: 0px;
  border-radius-bottomleft: 0px;
  width: 60px;
}

//
//Activities Ripples
//
.ripple-box {
  width: 104px;
  height: 104px;
  background-image: url("common-assets/misc/corner-ripple.svg");
  background-size: contain;
}

//
// Modal dialogs
//
.lightbox { background-color: rgba(0, 0, 0, 0.4); }
.flashspot { background-color: white; }

.modal-dialog {
  color: $fg_color;
  background-color: transparentize($bg_color, 1);
  border: none;
  border-image: url("#{$asset_path}/misc/modal.svg") 9 9 9 67;
  padding: 0 5px 6px 5px;

  > StBoxLayout:first-child {
    padding: 20px 10px 10px 10px;
  }

  &-button-box {
    spacing: 0;
    margin: 0px;
    padding: 14px 10px;
    background: none;
    border: none;
    border-image: url("#{$asset_path}/misc/button-box.svg") 9 9 9 9;

    .modal-dialog-button {
      padding-top: 0;
      padding-bottom: 0;
      height: 30px;

      @extend %osd_button;
    }
  }
}

//
// Run dialog
//
.run-dialog {
  padding: 0px 15px 10px 15px;
  border-image: url("common-assets/misc/bg.svg") 9 9 9 9;

  > * { padding: 0; }

  &-label {
    font-size: 0;
    font-weight: bold;
    color: $osd_fg_color;
    padding-bottom: 0;
  }

  &-error-label { color: $error_color; }

  &-error-box {
    padding-top: 15px;
    spacing: 5px;
  }
  &-completion-box {
    padding-left: 15px;
    font-size: 10px;
  }
  &-entry {
    width: 21em;
    padding: 7px;
    border-radius: 3px;
    caret-color: $osd_fg_color;
    selected-color: $selected_fg_color;
    selection-background-color: $selected_bg_color;

    @include entry(osd);

    &:focus { @include entry(osd-focus); }
  }
  .modal-dialog-button-box {
    border: none;
    border-image: none;
    box-shadow: none;
    background: none;
    background-gradient-direction: none;
  }
}

/* CinnamonMountOperation Dialogs */
.cinnamon-mount-operation-icon {
  icon-size: 48px;
}

.mount-password-reask {
  color: $warning_color;
}

.show-processes-dialog,
.mount-question-dialog {
  spacing: 24px;

  &-subject {
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 6px;

    &:rtl {
      padding-left: 0px;
      padding-right: 17px;
    }
  }
  &-description {
    padding-left: 17px;
    width: 28em;

    &:rtl { padding-right: 17px; }
  }
}

.show-processes-dialog-app-list {
  max-height: 200px;
  padding-top: 24px;
  padding-left: 49px;
  padding-right: 32px;

  &:rtl {
    padding-right: 49px;
    padding-left: 32px;
  }

  &-item {
    color: #ccc;

    &:hover { color: white }

    &:ltr { padding-right: 1em; }
    &:rtl { padding-left: 1em; }

    &-icon:ltr { padding-right: 17px; }
    &-icon:rtl { padding-left: 17px; }

    &-name { font-size: 1.1em; }
  }
}

//
// Magnifier
//
.magnifier-zoom-region {
  border: 2px solid rgba(128, 0, 0, 1);

  .full-screen { border-width: 0px; }
}

//
// On-Screen Keyboard
//
#keyboard {
  background-color: $osd_bg_color;
  border-width: 0;
  border-top-width: 1px;
  border-color: transparentize(black, 0.6);
}

.keyboard-layout {
  spacing: 10px;
  padding: 10px;
}

.keyboard-row {
  spacing: 15px;
}

.keyboard-key {
  min-height: 2em;
  min-width: 2em;
  font-size: 14pt;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: none;

  @include button(osd);

  &:hover { @include button(osd-hover); }
  &:active, &:checked { @include button(osd-active); }

  &:grayed { @include button(osd-insensitive); }
}                             

.keyboard-subkeys { //long press on a key popup
  color: $osd_fg_color;
  padding: 5px;
  -arrow-border-radius: 2px;
  -arrow-background-color: $osd_bg_color;
  -arrow-border-width: 1px;
  -arrow-border-color: transparentize(black, 0.6);;
  -arrow-base: 20px;
  -arrow-rise: 10px;
  -boxpointer-gap: 5px;
}

//
// Cinnamon Specific Section 
//

//
// Menu (menu.js)
//
.menu {
  &-favorites-box {
    padding: .8em;
    transition-duration: 300;
    background-color: $bg_color;
    border: 1px solid $borders_color;
    spacing: 1em;
  }

  &-favorites-scrollbox {
    padding-bottom: 1em;
    border-bottom: 1px solid;
    border-color: $borders_color;
  }

  &-favorites-button {
    padding: .8em;
    border: 1px solid rgba(0,0,0,0);

    &:hover { @extend %button_hover; }
  }

  &-categories-box { padding: 10px 30px 10px 30px; }

  &-applications-inner-box,
  &-applications-outer-box { padding: 10px 10px 0 10px; }

  &-application-button {
    padding: 7px;
    border: 1px solid rgba(0,0,0,0);

    // This style is used in menu application buttons for applications which were newly installed
    &:highlighted { font-weight: bold; }

    &-selected {
      padding: 7px;
      text-shadow: 0 0 0 rgba(0,0,0,0);
      @extend %button_hover;

      &:highlighted { font-weight: bold; }
    }

    &-label:ltr { padding-left: 5px; }
    &-label:rtl { padding-right: 5px; }
  }

  &-category-button {
    padding: 7px;
    border: 1px solid rgba(0,0,0,0);

    &-selected {
      padding: 7px;
      text-shadow: 0 0 0 rgba(0,0,0,0);
      @extend %button_hover;
    }
    &-greyed {
      padding: 7px;
      color: $insensitive_fg_color;
      border: 1px solid rgba(0,0,0,0);

      & StIcon {
        opacity: 0.5;
      }
    }

    &-label:ltr { padding-left: 5px; }
    &-label:rtl { padding-right: 5px; }
  }

  // Name and description of the currently hovered item in the menu
  // This appears on the bottom right hand corner of the menu
  &-selected-app-box {
    padding-right: 30px;
    padding-left: 28px;
    text-align: right;
    height: 30px;

    &:rtl {
      padding-top: 10px;
      height: 30px;
    }
  }

  &-selected-app-title { font-weight: bold; }

  &-selected-app-description { max-width: 150px; }

  &-top-box {
      spacing: 10px;
  }

  &-search-box:ltr { padding-left: 30px; }
  &-search-box-rtl { padding-right: 30px; }
}

#menu-search-entry {
  width: 250px;
  font-weight: normal;
  caret-color: $fg_color;

  @extend %entry;
}

.menu-search-entry-icon {
  icon-size: 1em;
  color: $fg_color;
}

/* Context menu (at the moment only for favorites) */
.menu-context-menu {
  padding: 1em 1px;
}

//
// OSD
//
.info-osd {
  text-align: center;
  font-weight: bold;
  spacing: 1em;
  padding: 16px;
  color: $_shell_fg_color;
  border-image: url("common-assets/misc/osd.svg") 9 9 9 9;
}

.osd-window {
  text-align: center;
  font-weight: bold;
  spacing: 1em;
  padding: 20px;
  margin: 32px;
  min-width: 64px;
  min-height: 64px;

  color: $_shell_fg_color;
  background: none;
  border: none;
  border-radius: 5px;
  border-image: url("common-assets/misc/osd.svg") 9 9 9 9;

.osd-monitor-label { font-size: 3em; }

  .level {
    padding: 0;
    height: 4px;
    background-color: transparentize(black, 0.5);
    border-radius: 2px;
    color: $selected_bg_color;
  }

  .level-bar {
    background-color: $selected_bg_color;
    border-radius: 2px;
  }
}

//
// Window list (windowList.js)
//
.window-list {

  &-box {
    spacing: 6px;
    padding-left: 10px;

    .panel-bottom & { padding-top: 1px; }
    .panel-top & { padding-bottom: 1px; }

    &.vertical {
      spacing: 4px;
      padding: 10px 0;
    }

    &:highlight { background-color: transparentize($error_color, 0.5); }
  }

  &-item-box {
    font-weight: bold;
    background-image: none;
    padding: 0;
    spacing: 0.5em;
    transition-duration: 100;
    color: transparentize($_shell_fg_color, 0.4);

    &:hover {color: $_shell_fg_color;}

    &:active,
    &:checked,
    &:focus,
    &:running {
      color: $_shell_fg_color;

      .panel-bottom & { border-image: url("common-assets/panel/window-list-active-bottom.svg") 3 3 1 3; }
      .panel-top & { border-image: url("common-assets/panel/window-list-active-top.svg") 3 3 3 1; }
      .panel-left & { border-image: url("common-assets/panel/window-list-active-left.svg") 3 1 3 3; }
      .panel-right & { border-image: url("common-assets/panel/window-list-active-right.svg") 1 3 3 3; }
    }

    &.top, &.bottom {
      padding: 0 0.5em;
    }

    & .progress {
        background-gradient-start: $selected_bg_color;
        background-gradient-end: $selected_bg_color;
    }
  }

  &-item-demands-attention {
    background-gradient-start: $warning_color;
    background-gradient-end: $warning_color;
  }

  &-preview {
    background: none;
    border: none;
    border-image: url("common-assets/misc/bg.svg") 9 9 9 9;
    border-radius: 3px;
    font-size: 9pt;
    color: $osd_fg_color;
    text-shadow: none;
    padding: 14px;
    spacing: 4px;
  }
}

//
// Grouped window list (grouped-window-list@cinnamon.org)
//

.grouped-window-list {
  &-thumbnail-label {
    padding-left: 4px;
  }
  &-number-label {
    z-index: 99;
    text-shadow: none;
    font-size: 10px;
    color: $osd_fg_color;
    padding: 0;
  }
  &-badge {
    border-radius: 256px;
    background-color: $osd_bg_color;
  }
  &-button-label {
    padding-left: 4px;
  }
  &-thumbnail-alert {
    background: transparentize($error_color, 0.5);
  }
  &-item-box {
    spacing: 0.5em;

    &.top,
    &.bottom {
      padding: 0 0.5em;
    }

    &.left,
    &.right {
      padding: 0.3em 0;
    }

    &:active {
      // Trick due to St limitations. It needs a background to draw a box-shadow
      background: rgba(0, 0, 0, 0.01);

      .panel-bottom & { box-shadow: inset 0 -2px $selected_bg_color; }
      .panel-top & { box-shadow: inset 0 2px $selected_bg_color; }
      .panel-left & { box-shadow: inset 2px 0 $selected_bg_color; }
      .panel-right & { box-shadow: inset -2px 0 $selected_bg_color; }

      &:hover {
        .panel-bottom & { box-shadow: inset 0 -2px $selected_fg_color; }
        .panel-top & { box-shadow: inset 0 2px $selected_fg_color; }
        .panel-left & { box-shadow: inset 2px 0 $selected_fg_color; }
        .panel-right & { box-shadow: inset -2px 0 $selected_fg_color; }
      }
    }

    &:focus { background: transparentize(black, 0.8); }

    &:checked,
    &:hover,
    & .progress {
      background: $selected_bg_color;
    }
  }

  &-item-demands-attention {
    background: transparentize($error_color, 0.5);
  }

  &-thumbnail-menu {
    & .item-box {
      padding: 10px;
      border-radius: 2px;
      spacing: 4px;
    }
    & .item-box:outlined {
      padding: 4px;
      border: 2px solid $selected_bg_color;
    }
    & .item-box:selected {
      background: none;
    }
    & .thumbnail {
      width: 256px;
    }
    & .separator {
      width: 1px;
      background: rgba(255,255,255,0.12);
    }
  }
}

///
// Sound Applet (status/volume.js)
//
.sound-player {
  padding: 0 4px;

  > StBoxLayout:first-child {
    padding: 5px 10px 12px 10px;
    spacing: 0.5em;

    StButton:small {
      width: 16px;
      height: 16px;
      color: transparentize($fg_color, 0.4);

      &:hover {color: $fg_color;}
      StIcon { icon-size: 16px; }
    }
  }

  &-generic-coverart {
    background: rgba(0,0,0,0.2);
  }

  &-overlay {
    width: 290px;
    height: 70px;
    padding: 15px;
    spacing: 0.5em;
    background: transparentize(darken($osd_bg_color, 5%), 0.1);
    border: 0px solid darken($osd_bg_color, 10%);
    border-bottom: 1px ;
    color: $osd_fg_color;

    StButton {
      width: 18px;
      height: 18px;
      padding: 5px;
      color: $osd_fg_color;
      border-radius: 2px;
      border: 1px solid transparentize($osd_bg_color,1);

      StIcon { icon-size: 16px; }

      &:hover{ @include button(osd-hover); }
      &:active { @include button(active); }
    }

    StBoxLayout {
      padding-top: 2px;

      & > StLabel { padding-left: 10px; }
    }
  }

  .slider {
    height: 0.5em;
    padding: 0;
    border: none;
    -slider-height: 0.5em;
    -slider-background-color: if($variant == 'light', $button_border, darken($bg_color, 5%));
    -slider-border-color: rgba(0,0,0,0);
    -slider-active-background-color: $selected_bg_color;
    -slider-active-border-color: rgba(0,0,0,0);
    -slider-border-width: 0px;
    -slider-handle-radius: 0px;
  }
}

//
// Workspace Switcher applet (workspaceSwitcher.js)
//
/* Controls the styling when using the "Simple buttons" option */
.panel-top .workspace-switcher,
.panel-bottom .workspace-switcher {
  padding: 0 3px;
}

.panel-left .workspace-switcher,
.panel-right .workspace-switcher {
  padding: 3px;
}

.workspace-button {
  color: $selected_fg_color;
  padding: 1px 8px 0px 8px;
  transition-duration: 300;

  &:outlined, &:outlined:hover { color: $selected_bg_color; }
  &:hover { color: transparentize($selected_bg_color, 0.5) }

  .vertical & { padding: 4px 0; }
}

/* Controls the style when using the "Visual representation" option */
.workspace-graph {
  padding: 3px;
  spacing: 3px;
}

.workspace-graph .workspace {
  border: 1px solid transparentize(black, 0.6);
  background-gradient-direction: none;
  background-color: transparentize(black, 0.8);
}

.workspace-graph .workspace:active {
  border: 1px solid $selected_bg_color;
  background-gradient-direction: none;
}

.workspace-graph .workspace .windows {
  -active-window-background: lighten($panel_bg, 15%);
  -active-window-border: rgba(0, 0, 0, 0.8);
  -inactive-window-background: lighten($panel_bg, 15%);
  -inactive-window-border: rgba(0, 0, 0, 0.8);
}

.workspace-graph .workspace:active .windows {
  -active-window-background: lighten($panel_bg, 20%);
  -active-window-border: rgba(0, 0, 0, 0.8);
  -inactive-window-background: lighten($panel_bg, 5%);
  -inactive-window-border: rgba(0, 0, 0, 0.8);
}

//
// Panel Launchers Applet (panelLaunchers.js)
//
.panel-launchers {
  padding-left: 7px;
  spacing: 6px;

  &.vertical {
    padding: 2px 0;
  }
}

.launcher {
  padding: 1px;
  transition-duration: 200;

  & .icon-box {
    padding-top: 0;
  }

  &:hover {
    background-gradient-direction: none;
    // Trick due to St limitations. It needs a background to draw a box-shadow
    background: rgba(0, 0, 0, 0.01);

    .panel-bottom & { box-shadow: inset 0 -2px $selected_bg_color; }
    .panel-top & { box-shadow: inset 0 2px $selected_bg_color; }
    .panel-left & { box-shadow: inset 2px 0 $selected_bg_color; }
    .panel-right & { box-shadow: inset -2px 0 $selected_bg_color; }
  }
}

//
// Overview corner
//
#overview-corner {
  background-image: url("common-assets/misc/overview.png");

  &:hover { background-image: url("common-assets/misc/overview-hover.png"); }
}

//
// Applets (applet.js) 
//
.applet {
  &-separator {
    padding: 1px 4px;

    .vertical & { padding: 4px 1px; }
  }

  &-separator-line {
    width: 1px;
    background: rgba(255,255,255, 0.12);

    &-vertical {
	    border: 0px solid rgba(255,255,255,0.12);
		  border-bottom-width: 1px;
    }
  }

  &-box {
    padding-left: 3px;
    padding-right: 3px;
    color: $_shell_fg_color;
    text-shadow: none;
    transition-duration: 100;

    &.vertical {
      padding: 3px 0;
    }

    &:checked, &:hover {
      color: $selected_fg_color;
      background-color: $selected_bg_color;
    }

    &:highlight {
      background-image: none;
      border-image: none;
      background-color: transparentize($error_color, 0.5);
    }

    .panel-top &,
    .panel-bottom & {
      spacing: 3px;
    }
  }

  &-label {
    font-weight: bold;
    color: $_shell_fg_color;
 
    .applet-box:checked > &,
    .applet-box:hover > &, 
    &:hover {
      color: $selected_fg_color;
      text-shadow: none;
    }
  }

  &-icon {
    color: $_shell_fg_color;
    icon-size: 22px;

    .applet-box:checked > &,
    .applet-box:hover > &, 
    &:hover {
      color: $selected_fg_color;
      text-shadow: none;
    }
  }

}

//
// User Applet
//
.user-icon {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.user-label {
    color: $fg_color;
    font-size: 1em;
    font-weight: bold;
    margin: 0px;
}

//
// Desklets (desklet.js) 
//
.desklet {
  color: $osd_fg_color;

  &:highlight {
    background-color: transparentize($error_color, 0.5);
  }

  &-with-borders {
    border-image: url("common-assets/misc/bg.svg") 9 9 9 9;
    color: $osd_fg_color;
    padding: 12px;
    padding-bottom: 16px;

    &:highlight {
      background-color: transparentize($error_color, 0.5);
    }
  }
  &-with-borders-and-header {
    border-image: url("common-assets/misc/desklet.svg") 9 9 9 9;
    color: $osd_fg_color;
    border-radius: 0;
    border-radius-topleft: 0;
    border-radius-topright: 0;
    padding: 12px;
    padding-bottom: 17px;

    &:highlight {
      background-color: transparentize($error_color, 0.5);
    }
  }
  &-header {
    border-image: url("common-assets/misc/desklet-header.svg") 9 9 9 9;
    color: $osd_fg_color;
    font-size: 1em;
    padding: 12px;
    padding-bottom: 6px;
  }
  &-drag-placeholder { 
    border: 2px solid $selected_bg_color;
    background-color: transparentize($selected_bg_color, 0.7);
  }
}

.photoframe-box {
  border-image: url("common-assets/misc/bg.svg") 9 9 9 9;
  color: $osd_fg_color;
  padding: 12px;
  padding-bottom: 16px;
}

//
// Workspace OSD
//
.workspace-osd {
  text-align: center;
  font-weight: bold;
  spacing: 1em;
  padding: 16px;
  color: $_shell_fg_color;
  border-image: url("common-assets/misc/osd.svg") 9 9 9 9;
}

//
// Notification Applet
//
.notification-applet-padding { padding: .5em 1em; }

.notification-applet-container { max-height: 100px; }

//
// Tile Preview
//
.tile-preview, .tile-preview.snap,
.tile-hud, .tile-hud.snap {
  background-color: transparentize($selected_bg_color, 0.7);
  border: 1px solid $selected_bg_color;
}

//
// Systray Applet
//
.systray {
  spacing: 6px;
}

//
// Xkcd Desklet
//
.xkcd-box {
  padding: 6px;
  border: 0px;
  background-color: rgba(0,0,0,0);
  border-radius: 0px;
}

// 818 start - inject cinnamon.scss
@import "../../../../818/cinnamon.scss";
// 818 end
