/* ======================================================
 * Cinnamon Panels
 * ====================================================== */

$_818_panel_bg_color: #101010;
$_818_window-list-item_border_color: rgba(255, 255, 255, 0.4);
$_818_window-list-item_focus_bg_color: mix($_818_panel_bg_color, #fff, 89%);

/*
 * Use a darker background color for the panels.
 */

.panel {
  &-top, &-bottom, &-left, &-right {
    border-image: none;
    background-color: $_818_panel_bg_color;
  }

  &-dummy {
    background-color: mix($error_color, $_818_panel_bg_color, 50%);

    &:entered {
      background-color: mix($error_color, $_818_panel_bg_color, 40%);
    }
  }
}

/*
 * Don't use bold text in the panels.
 */

#panel {
  font-weight: normal;
}

.panel {
  &-status-button {
    font-weight: normal;
  }

  &-button {
    font-weight: normal;
  }
}

.overview-empty-placeholder {
  font-weight: normal;
}

.window-list {
  &-item-box {
    font-weight: normal;
  }
}

.applet {
  &-label {
    font-weight: normal;
  }
}

.user-label {
  font-weight: normal;
}

/*
 * Reduce spacing between window-list items and remove the left padding.
 */

.panel {
  &Left, &Center, &Right {
    spacing: 0;
  }
}

.window-list {
  &-box {
    spacing: 1px;
    padding-left: 0;

    &.vertical {
      spacing: 1px;
      padding: 0;
    }
  }
}

/*
 * Change grouped window list colors (to better match the new panels background color).
 * And also remove the large spacing between icon and text.
 */

.grouped-window-list {
  &-item-box {
    spacing: 0;
    color: transparentize($_shell_fg_color, 0.4);

    &:hover, &:active:hover, &:focus, &:focus:hover {
      color: $_shell_fg_color;
    }

    &:focus {
      background-color: $_818_window-list-item_focus_bg_color;
    }

    &:focus:hover {
      background: $selected_bg_color;
    }

    &:active, &:active:hover, &:focus, &:focus:hover {
      .panel-bottom & {
        box-shadow: 0 -2px 0 0 $_818_window-list-item_border_color inset;
      }

      .panel-top & {
        box-shadow: 0 2px 0 0 $_818_window-list-item_border_color inset;
      }

      .panel-left & {
        box-shadow: 2px 0 0 0 $_818_window-list-item_border_color inset;
      }

      .panel-right & {
        box-shadow: -2px 0 0 0 $_818_window-list-item_border_color inset;
      }
    }
  }
}

/* ======================================================
 * Cinnamenu
 * ====================================================== */

/*
 * Add padding around cinnamenu button (to look like window list buttons)
 */

.cinnamenu-json-applet {
  padding-left: 8px;
  padding-right: 8px;
}

/*
 * Remove bottom-bar (w/ logout & favorites) decorations
 */

.cinnamenu {
  .menu-favorites-scrollbox {
    padding-bottom: 0;
    border-bottom: none;
  }
}
