/* ======================================================
 * Titlebar
 * ====================================================== */

/*
 * Hide titlebar top-border on non-CSD window
 */

headerbar,
%titlebar {
  box-shadow: none;

  .csd:not(.maximized) & {
    box-shadow: inset 0 1px lighten($header_bg, 3%);
  }
}

/*
 * Reduce titlebar height
 */

headerbar,
%titlebar {
  min-height: 33px;
}

headerbar {
  padding-left: 4px;
  padding-right: 4px;

  entry, button, separator {
    margin-top: 4px;
    margin-bottom: 5px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.maximized {
  headerbar,
  %titlebar {
    min-height: 29px;
  }

  headerbar {
    padding-left: 3px;
    padding-right: 3px;

    entry, button, separator {
      margin-top: 2px;
      margin-bottom: 3px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

/*
 * Apply new titlebar buttons dimensions
 */

headerbar,
.titlebar {
  button.titlebutton {
    min-width: 22px;
    min-height: 22px;
  }
}

/*
 * Disable backdrop
 */

headerbar,
%titlebar {
  &:backdrop {
    transition: none;
    background-color: opacify($header_bg, 1);

    .csd & {
      background-color: $header_bg;
    }
  }

  .maximized & {
    &:backdrop {
      background-color: opacify($header_bg, 1);
    }
  }
}

/* ======================================================
 * Window Borders
 * ====================================================== */

/*
 * Consistent border radius (w/ metacity theme)
 * - Check where "$_header_radius" is applied to override it
 * - Also look for `if($variant=='light' or $variant=='lighter', 4px, 3px)` since the variable is note used everywhere
 */

$_818_header_radius: 1px;

.titlebar {
  border-radius: $_818_header_radius $_818_header_radius 0 0;
}

headerbar {
  separator:first-child + &,
  &:first-child {
    &, &:backdrop {
      border-top-left-radius: $_818_header_radius;
    }
  }

  &:last-child {
    &, &:backdrop {
      border-top-right-radius: $_818_header_radius;
    }
  }

  window stack & {
    &:first-child, &:last-child {
      &:backdrop, & {
        border-top-left-radius: $_818_header_radius;
        border-top-right-radius: $_818_header_radius;
      }
    }
  }
}

decoration {
  border-radius: $_818_header_radius $_818_header_radius 0 0;

  .ssd & {
    border-radius: $_818_header_radius $_818_header_radius 0 0;
  }

  messagedialog.csd & {
    border-radius: $_818_header_radius;
  }
}

/*
 * Non-transparent border color (w/ metacity define-color)
 */

$_818_wm_border: if($variant=='dark' or $variant=='darker', #1e2129, #d0d0d0);
$_818_wm_unfocused_border: $_818_wm_border;
$_818_shadow: rgba(0, 0, 0, if($variant=='dark' or $variant=='darker', 89/255, 51/255));
$_818_unfocused_shadow: $_818_shadow;

@define-color wm_border #{"" + $_818_wm_border};
@define-color wm_unfocused_border #{"" + $_818_wm_unfocused_border};

decoration {
  box-shadow: /**/
      0 8px 8px 0 $_818_shadow,
      0 0 0 1px $_818_wm_border;

  &:backdrop {
    box-shadow: /**/
        0 8px 8px 0 transparent,
        0 5px 5px 0 $_818_unfocused_shadow,
        0 0 0 1px $_818_wm_unfocused_border;
  }

  .popup & {
    box-shadow: none;
  }

  .ssd & {
    box-shadow: 0 0 0 1px $_818_wm_border;
  }

  .csd.popup & {
    box-shadow: /**/
        0 3px 6px $_818_shadow,
        0 0 0 1px $_818_wm_border;
  }

  tooltip.csd & {
    box-shadow: 0 1px 3px 1px $_818_shadow;
  }

  .solid-csd & {
    box-shadow: none;
  }
}

/*
 * Disable backdrop transition
 */

decoration {
  &:backdrop {
    transition: none;
  }
}
